@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  width: 100vw;
  height: 100vh;
  color: #111;
  background-image: linear-gradient(to top right, #6e1b7e 25%, #2373a2);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */
.main-container {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(200px);
  border-radius: 15px;
  filter: blur();
  min-height: 70vh;
  max-width: 1000px;
  margin: 0 1rem;
}

.player {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
  opacity: 0.5;
  padding: 3rem 0;
}
.p1 {
  border-radius: 15px 0 0 15px;
}
.p2 {
  border-radius: 0 15px 15px 0;
}
.info {
  text-align: center;
  font-size: clamp(0.75rem, 2.5vw, 2rem);
}
.info p {
  font-size: 2rem;
}
/* ELEMENTS */
.p-name {
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-weight: 300;
  color: #c7365f;
}

.active {
  opacity: 1;
}
.active .p-name {
  font-weight: 700;
}
.active .score {
  font-weight: 400;
}

.active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  margin-top: auto;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  border-radius: 8px;
  padding: clamp(0.5rem, 2vw, 1rem) clamp(0.5rem, 2vw, 2rem);
  color: #fff;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  font-size: clamp(0.5rem, 2vw, 1rem);
  color: #ddd;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  color: #444;
  background: none;
  border: 2px solid #ededed;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 3rem);
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 0.7rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  transform: translate(-50%);
  left: 50%;
  z-index: 10;
}

.btn--new {
  top: -10%;
}
.btn--roll {
  top: 55%;
}
.btn--hold {
  bottom: 10%;
}
.btn:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translate(-50%, 5px);
}

.dice {
  position: absolute;
  top: 35%;
  transform: translateX(50%);
  right: 50%;
  max-width: 50px;
  border-radius: 10px;
}

.winner {
  background-color: #2f2f2f;
  font-size: clamp(0.75rem, 2vw, 1rem);
}

.winner .p-name {
  font-weight: 700;
  color: #c7365f;
}
